---
---

@import "{{ site.theme }}";
a {
  color: #3f1f69; /* Mammoth Purple */
}

a:hover, a:focus {
  color: #856cb0; /* Mammoth Purple Light */
}

h1, h2, h3, h4, h5, h6{
	color: #856cb0; /* Mammoth Purple Light */
}
